<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Job Details</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
</head>

<body>
    <h1 class="has-text-primary has-text-centered is-size-2"><%=meet.jobtitle  %></h1>
    <div class="column is-8 is-offset-2">
        <div class="box">
            <div class="is-flex is-justify-content-flex-end">
                <form action="/meets/<%=meet._id%>?_method=DELETE" method="POST">
                    <button class="delete"></button>
                </form>
            </div>
            <div class="is-flex is-justify-content-space-between">
                <span class="is-size-4"><span class="has-text-weight-bold">Job Salary:</span> £<%= meet.salary %></span>
                <span class="is-size-4"><span class="has-text-weight-bold">Status:</span> <%= meet.status  %></span>
            </div>
                <p><span class="has-text-weight-bold">Job listing:</span> <a href="<%= meet.joblisting %>" target="_blank">Click here for listing</a></p>
                <p><span class="has-text-weight-bold">Notes:</span> <%= meet.notes  %></p>
            <div class="is-flex is-justify-content-space-between">
                <a href="./<%=meet._id%>/edit" class="button mt-2 is-rounded is-small is-link">Update Details</a>

                <form action="/meets/<%=meet._id%>/?_method=DELETE" method="post">
                    <button class="button mt-2 is-rounded is-small is-link">Delete</button>
                </form>
            </div>
        </div>
        <a href="/meets" class="button is-primary">Back to Full List</a>
            </div>
        
</body>
</html>